

//footer section
footer
{
	color: white;
	background-color:#34495e;
	width: 100%;
	height: auto;
	line-height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}